apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app-container
          image: us-central1-docker.pkg.dev/ci-cd-learning-481620/my-repo/my-app:171f91d4e853f4ff381c5ce8cb34f99f95fa8fc9
          ports:
            - containerPort: 5000
